{
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "no-console": "off",
    "no-shadow": "off",
    "arrow-body-style": "off",
    "jsx-quotes": ["error", "prefer-double"],
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "max-classes-per-file": ["error", 1],
    "operator-linebreak": "off",
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "arrow-parens": ["error", "as-needed"],
    "object-curly-newline": "off",
    "indent": "off",
    "no-use-before-define": [
      "error",
      {
        "functions": true,
        "classes": true,
        "variables": false
      }
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "func-names": ["error", "never"],
    "wrap-iife": ["error", "any"],
    "no-extra-boolean-cast": "off",
    "linebreak-style": "off"
  },
  "env": {
    "es6": true,
    "jest": true,
    "browser": true,
    "node": true
  }
}
