.content {
  padding: 20px 10px;
}

.modal {
  background-color: #fefefe;
  border: 1px solid #888;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
