.main {
  background-image: linear-gradient(to right bottom, #5a83ac, #000000d9);
  background-size: cover;
  display: flex;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
}

.col8 {
  width: 70%;
}

.col4 {
  width: 30%;
}

.game {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.question {
  background-color: black;
  border-style: groove;
  padding: 24px 85px;
  border-radius: 25%;
  color: thistle;
}

.questionnumber {
  color: thistle;
  background-color: black;
  border-style: groove;
  padding: 8px 10px;
  border-width: 2px;
  margin: 5px 0;
}

.listanswer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.name {
  position: absolute;
  left: 50px;
  top: 50px;
  color: wheat;
}

.name::before {
  content: "Xin Chào: ";
  color: wheat;
}

.showhelp {
  color: #b1b1b1;
}

.board {
  border: 1px solid wheat;
  height: 100%;
}

.boardbelow {
  width: 100%;
  text-align: center;
}

.btn {
  border: 0;
  padding: 10px 20px;
  margin-top: 20px;
  border-width: 2px;
  border-style: ridge;
  border-radius: 5%;
  background-color: #ff9c12f0;
  color: #feffd4;
  font-weight: bold;
}

.score {
  color: burlywood;
  font-family: cursive;
  font-style: italic;
  text-decoration: underline;
  font-size: 25px;
}

.scorequestion {
  font-size: 100px;
  color: burlywood;
  font-family: fantasy;
  font-style: italic;
}

.btnstop {
  background-color: black;
  border: 0;
  padding: 10px 20px;
  border-width: 2px;
  border-style: ridge;
  border-radius: 5%;
  color: #feffd4;
  font-weight: bold;
  margin-top: 40px;
}

.countdown {
  font-family: serif;
  font-style: italic;
  font-size: 70px;
  margin-top: 40px;
  color: red;
}

.modal {
  width: 50%;
}

.help {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
  position: absolute;
  top: 0;
  right: 5px;
}

.helptext {
  padding: 5px 0;
}