.main {
  background-image: linear-gradient(to right bottom, #5a83ac, #000000d9);
  height: 100vh;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
.game {
  position: absolute;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question {
  background-color: black;
  border-style: groove;
  padding: 24px 85px;
  border-radius: 25%;
  color: thistle;
}

.questionnumber {
  color: thistle;
  background-color: black;
  border-style: groove;
  padding: 8px 10px;
  border-width: 2px;
  margin: 5px 0;
}

.listanswer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.name {
  position: absolute;
  left: 50px;
  top: 50px;
  color: wheat;
}

.name::before {
  content: "Xin Chào: ";
  color: wheat;
}

.showhelp {
  color: #b1b1b1;
}

.showscore {
  position: absolute;
  right: 0px;
  top: 0px;
  border: 1px solid wheat;
  height: 100vh;
  width: 25%;
}

.btn {
  border: 0;
  padding: 10px 20px;
  margin-top: 20px;
  border-width: 2px;
  border-style: ridge;
  border-radius: 5%;
  background-color: #ff9c12f0;
  color: #feffd4;
  font-weight: bold;
}

.score {
  color: burlywood;
  font-family: cursive;
  font-style: italic;
  text-decoration: underline;
  position: absolute;
  top: 35%;
  left: 20%;
  transform: translate(-40%);
  font-size: 25px;
}

.scorequestion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: burlywood;
  font-family: fantasy;
  font-style: italic;
}

.btnstop {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  border: 0;
  padding: 10px 20px;
  border-width: 2px;
  border-style: ridge;
  border-radius: 5%;
  color: #feffd4;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 10px;
}

.countdown {
  position: absolute;
  left: 50%;
  font-family: serif;
  font-style: italic;
  transform: translateX(-50%);
  font-size: 70px;
  margin-top: 40px;
  color: red;
}

.modal {
  width: 50%;
}
